{% extends 'catalog/base.html' %}
{% load mediapath %}

{% block content %}
    {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                    <h6 class="my-0 font-weight-normal">{{ object.description }}</h6>
                    <h6 class="my-0 font-weight-normal"></h6>
                </div>
                <div class="card-body">
                    <p><img src="{% mediapath object.image %}" width="100" height="200" alt="Изображение"></p>
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Категория: {{ object.category }}</li>
                        <li>Создано: {{ object.date_of_creation }}</li>
                        <li>Изменено: {{ object.date_of_change }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}